<!-- 
<div class="jumbotron">

  <h1>Welcome! I'm Lewis.</h1>

  <div class="row">
    <div class="col-xs-12 col-sm-4 col-md-4 img-box">

      <img src="images/Lewis.png" />
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 text-box">
      <h2>A little about me : </h2>
      <p class="lead">Developer, Physics enthusiast, Ambassador of logic and reason, Web Development, Mobile Apps, Artist, Mountain Biker, Rock Climber, Gamer, Nerd.</p>
    </div>
  </div>

  <p><a class="btn btn-lg btn-success" role="button">See what I'm working on!</a>
  </p>
</div>
-->

<div class="row">
  <div class="col-sm-3">
    <div class="text-center shadow-z-2">
      <a social-facebook class="btn btn-default twitter btn-fab btn-raised">
        <img src="../images/social_01.png" />
      </a>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="text-center shadow-z-2">
      <a social-twitter status="@Lunardev Love the website! Lets talk." class="btn btn-default facebook btn-fab btn-raised">
         <img src="../images/social_02.png" />
      </a>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="text-center shadow-z-2">
      <a social-linkedin class="btn btn-default linked-in btn-fab btn-raised">
        <img src="../images/social_06.png" />
      </a>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="text-center shadow-z-2">
      <a href="javascript:void(0)" class="btn btn-default github btn-fab btn-raised ">
         <img src="../images/social_14.png" />
      </a>
    </div>
  </div>
</div> 
