<div class="jumbotron">
  <h1>Herp Derp Lewis</h1>
  <p class="lead">
    <img src="images/yeoman.png" alt="I'm Yeoman"><br>
    Gluten-free you probably haven't heard of them brunch pug trust fund typewriter hashtag. 
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#/">Splendid!<span class="glyphicon glyphicon-ok"></span></a></p>
</div>

<div class="row marketing">
  <h4>Cred meh pork belly swag letterpress</h4>
  <p>
    Church-key pickled letterpress, jean shorts master cleanse Kickstarter farm-to-table heirloom lomo four loko. Synth letterpress food truck stumptown kogi Wes Anderson messenger bag Neutra, narwhal Williamsburg readymade cred deep v blog. Swag four loko normcore, craft beer disrupt mixtape typewriter hoodie pork belly migas farm-to-table lomo Vice chia paleo. Listicle cray brunch, health goth butcher Austin bespoke authentic hella messenger bag pork belly Godard salvia farm-to-table. Tofu mlkshk artisan, occupy Odd Future organic Tumblr put a bird on it flexitarian fixie hella 3 wolf moon butcher vinyl kogi. Cred meh pork belly swag letterpress banh mi, squid Brooklyn yr bitters cold-pressed plaid Thundercats pickled. Cred farm-to-table mixtape, Bushwick fingerstache tattooed McSweeney's asymmetrical leggings ugh street art Vice.
  </p>

  <h4> Cred farm-to-table</h4>
  <p>
    Hella sriracha food truck, Odd Future roof party wolf church-key Vice chillwave Schlitz. Polaroid tilde sartorial try-hard typewriter, flexitarian Truffaut viral chia readymade aesthetic. Cred flexitarian bicycle rights, photo booth mumblecore gentrify synth messenger bag drinking vinegar selfies.
  </p>

  <h4>3 wolf moon butcher vinyl kogi</h4>
  <p>Pinterest post-ironic freegan mlkshk trust fund cardigan. Carles hashtag migas, Bushwick banh mi gastropub pour-over mumblecore butcher cold-pressed vegan roof party whatever. Scenester Echo Park letterpress, sriracha bitters DIY vinyl occupy yr cray forage cronut fixie. Cornhole actually Thundercats readymade ethical.</p>
</div>
