<div class="jumbotron">
  <h1>Welcome! I'm Lewis.</h1>
  <div class="row">
    <div class="col-xs-12 col-sm-4 col-md-4 img-box">
      <!-- 
      <img src="images/angular.png" />
      -->
      <img src="images/angular.png" />
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 text-box">
      <h2>A little about me : </h2>
      <p class="lead">Developer, Physics enthusiast, Ambassador of logic and reason, Web Development, Mobile Apps, Artist, Nerd.</p>
    </div>
  </div>

  <p><a class="btn btn-lg btn-success" role="button">See what I'm working on!</a></p>
</div>


<div class="row">
  <div class="col-lg-4">
    <h2>What I'm working on..</h2>
    <p>Wanna see what I'm doing right now? </p>
    <p>My past work? </p>
    <p>Even my future projects!? </p>
    <p>I got your back little fella. </p>
    <p><a class="btn btn-primary" href="#" role="button">View Projects »</a></p>
  </div>
  <div class="col-lg-4">
    <h2>I don't have much to say..</h2>
    <p>I wont pretend to have the dedication to keep a regular blog, but every now and again I have a little something to say about interesting things, check out my micro blog?</p>
    <p>Or not, whatever.</p>
    <p><a class="btn btn-primary" href="#" role="button">View <small>Micro</small>-Blog »</a></p>
  </div>
  <div class="col-lg-4">
    <h2>Touch base</h2>
    <p>I've worked with an unimaginable range of companies and communities, so if you have a project you'd like me to be a part of or even just need some free advice, hit me up.</p>
    <p><a class="btn btn-primary" href="#" role="button">Contact Me »</a></p>
  </div>
</div>

